

:root {
	--primary-color: #5F259F; /* Define a root variable for primary color */
	--secondory-color : #fff; /* Define a root variable for sec color */
	--orenge-color : #FC4F00; /* Define a root variable for sec color */
	--dark-color :#0D1033; /* Define a root variable for sec color */
	--black-color :#000; /* Define a root variable for sec color */

	
  
  }

body{

	background-color: #fff !important;
	color: #000 !important;
}

.bg-dark{

	background-color: var(--primary-color);
}

.title-contact-home-color{

	color: #fff !important;
}


.marque_text_top{

    background-color: var(--primary-color);
	margin-bottom: 20px;
}

.tt-scrolling-text-top {
	display: flex;
	position: relative;
	pointer-events: none;
}
.tt-scrolling-text-inner-top {
    padding-top:1vw;
    padding-bottom:1vw;
	font-size: calc(1.75px + 1vw);
	line-height: 1;
	font-weight: bold;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
	animation-name: tt_scrolling_text; 
	animation-timing-function: linear; 
	animation-iteration-count: infinite; 
	animation-play-state: running;
	/* animation-duration is handled by js. */
}
.tt-scrolling-text-inner-top:after {
	content: attr(data-text);
}


.tt-header-inner-landing {
	width: 100%;
	display: flex;
	padding-top: 50px;
	align-items: center;
}
.top_banner_offer{

	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	padding-top: 5%;
	


	
}

.div-left{

	width: 40%;
	padding-bottom: 6%;
	

	
}
.div-right{

	width: 60%;
	padding-bottom: 6%;
	

}


.offer-head-div{

	display: flex;
	flex-direction: column;
}



.banner-head-1{
	
	font-family: 'SF Pro Display', sans-serif !important;
	font-size: calc(2px + 1.25vw);

	padding: 1px !important;
	margin: 1px !important;
	

	

}

.banner-head-main{


	padding: 1px !important;
	margin: 1px !important;
	font-family: 'SF Pro Display', sans-serif !important;
	font-weight: 900 !important;



	

}

.banner-price{


	padding: 1px !important;
	margin: 1px !important;
	font-family: 'SF Pro Display', sans-serif !important;
	font-weight: 700 !important;
	color: var(--primary-color);
}

.offer-spec-div{

	display: flex !important;
	flex-direction: column;
}

.banner-offer-spec{

	width: 100%;
	font-family: 'SF Pro Display', sans-serif !important;
	
}

.check{

	margin-right: 4%;
}

.banner-desc{
	font-family: 'SF Pro Display', sans-serif !important;
	
	font-weight: 200 !important;
	padding: 1px !important;
	margin: 1px !important;

	

}

.button-banner{


	background-color: var(--primary-color);
	color: #fff;
	padding: 3% 15%;
	margin-top: 1%;

	font-weight: 600;
	font-family: 'SF Pro Display', sans-serif !important;



	
}

.pgi-image-wrap {
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
	line-height: 1;
}

.pgi-image-banner {
	position: relative;
}
.pgi-image-banner img {

	width: 100%;
	height: 100%;
	object-fit: cover;
	
}


/* company rating */

.bg-white{

	background-color: #fff;
}

.company-rating-main-div{

	width: 100%;
	display: flex;
	padding: 3% 10%;
	gap: 1%;
	

}


.card{

	border: solid 1px #000;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 5% 3% 3% 3%;
}

.service-card-category{

	
	padding: 1px !important;
	margin: 1px !important;
	font-family: 'SF Pro Display', sans-serif !important;

}

.service-card-head{

	/* background: linear-gradient(45deg, #ff00cc, #3333ff); */
  background-clip: text;
  -webkit-background-clip: text; /* For older versions of Chrome and Safari */
  color: #000;
  display: inline-block;
  padding: 1.5px !important;
  margin: 1.5px !important;
  font-weight: 600;
  font-family: 'SF Pro Display', sans-serif !important;


}

.service-card-category-2{

	
	padding: 1px !important;
	margin: 1px !important;
	font-family: 'SF Pro Display', sans-serif !important;

	width: fit-content;
	color: #fff;
	font-weight: 200 !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.offer-spec{

	margin-right: 20%;
	font-family: 'SF Pro Display', sans-serif !important;

	
}


.offer-spec-tick{

	color: #0abf53;
	
}

.service-card-button{

	width: 100%;
	text-align: center;
	height: fit-content;
	padding: 5% 0;
	
	margin-top: 10%;
	color: #fff;
	font-family: 'SF Pro Display', sans-serif !important;

}

.color-highlite-1 {

	background-color: var(--primary-color);

}
.color-highlite-2 {

	background-color: var(--dark-color) !important;

}
	
.color-highlite-3 {

	background-color: var(--orenge-color);


}



.web-template-section{


	padding: 5% 10%;
}

.template-head{

	color: #000 !important;
	font-family: 'SF Pro Display', sans-serif !important;

	font-size: calc(6px + 3vw);
	font-weight: 600;
	padding: 1px !important;
 	 margin: 1px !important;

}

.template-para{
	padding: 1.5px !important;
	margin: 1.5px !important;


}

.curosal{

	margin-top: 25px;
}


.btn-template{

	border-radius: 0 !important;
	padding: 2% 10%;
}


/* end template section */



/* domain section start */

.domain-search-section{


	padding: 15% 25%;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	background-color: #0D1033;
}

.domain-section-head{

	color: #000 !important;
	font-family: 'SF Pro Display', sans-serif !important;

	font-size: calc(6px + 3vw);
	font-weight: 600;
	padding: 1px !important;
 	 margin: 1px !important;
	 text-align: center;

}

.domain-section-para{
	padding: 1.5px !important;
	margin: 1.5px !important;
	text-align: center;
	color: #000 !important;
	

}

.form-domain{

	margin-top: 3%;
}




.div-line{

	height: 1px;
	width: 100%;
	background-color: #303030;
	
}


.footer-top{

	width: 100%;
	display: flex;
	gap: 1%;

}

.div-1{

	display: flex;
	flex-direction: column;
	padding: 5% 4%;
	width: 100%;
}

.footer-div-head{

	color: #fff !important;
	font-family: 'SF Pro Display', sans-serif !important;
	font-weight: 600 !important;
}


.footer-div-link{

	color: #9c9c9c !important;
	font-family: 'SF Pro Display', sans-serif !important;
	font-weight: 200 !important;
	margin-bottom: 4%;
}

.footer-div-link:hover{

	color: #fff !important;
	text-decoration: underline !important;
	
}





/* ===============================  mobile view================================================== =========== */






@media (max-width: 600px) {

	.marque_text_top{

		background-color: var(--primary-color);


	}


	.tt-scrolling-text-top {
		display: flex;
		position: relative;
		pointer-events: none;
	}
	.tt-scrolling-text-inner-top {
		padding-top:2.5vw;
		padding-bottom:2.5vw;
		font-size: calc(6px + 2.5vw);
		line-height: 1;
		font-weight: bold;
		font-weight: 600;
		color: #CCC;
		white-space: nowrap;
		animation-name: tt_scrolling_text; 
		animation-timing-function: linear; 
		animation-iteration-count: infinite; 
		animation-play-state: running;
		/* animation-duration is handled by js. */
	}
	.tt-scrolling-text-inner-top:after {
		content: attr(data-text);
	}



	.top_banner_offer{

		width: 100%;
		padding: 10% 8%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding-top: 8% !important;
		
		
	
		
	}


	.div-left{

		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		
	}
	.div-right{
	
		width: 100%;

	}

	.offer-head-div{

		display: flex;
		flex-direction: column-reverse;
		margin-top: 30px;;
	}
	
	
	
	
	.banner-head-1{
		font-family: 'SF Pro Display', sans-serif !important;
		font-size: calc(3.5px + 3vw);
		font-weight: 200 !important;
		padding: 2px !important;
		margin: 2px !important;
		text-align: center !important;
	
		
	
	}
	
	.banner-head-main{
		font-family: 'SF Pro Display', sans-serif !important;
		padding: 2px !important;
		margin: 2px !important;
		text-align: center !important;
		width: 100% !important;
		font-weight: 900 !important;
		font-size: calc(12px + 6vw) !important;
		
	
	}

	.banner-offer-spec{

		text-align: center;
		font-size: calc(2px + 3vw) !important;
		
	}

	.banner-disc{
		font-family: 'SF Pro Display', sans-serif !important;
		font-size: calc(3.5px + 3vw);
		font-weight: 200 !important;
		padding: 2px !important;
		margin: 2px !important;
		text-align: center;
	
		
	
	}

	.banner-price{

		text-align: center;
	}

	.button-banner{


		background-color: var(--primary-color);
		color: #CCC;
		padding: 4% 20%;
		margin-top: 5%;
		border-radius: 100px;
		justify-content: center;
		width: 100%;
		font-weight: 600 !important;
		
		
	}

	.company-rating-main-div{

		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 3% 5%;
		gap: 20px;
		
	
	}

	
	.card{

		
		padding: 10% 8% 8% 8%;
	}

	.service-card-head{

		font-size: calc(8.5px + 7.5vw);
		font-weight: 600 !important;
		
	}


	.web-template-section{


		padding: 5% 5%;
	}

	.template-head{

		
		font-size: calc(8px + 4.5vw);
		font-weight: 600 !important;
		
	
	}
	
	.template-para{
		
		
	
	}


	.domain-search-section{


		padding: 40% 5%;
		display: flex;
		justify-content: center;
		align-self: center;
		flex-direction: column;
		background-color: #000 !important;
	}
	
	.domain-section-head{
	
		color: #fff !important;
		font-family: 'SF Pro Display', sans-serif !important;
	
		font-size: calc(9px + 5vw);
		font-weight: 600;
		padding: 1px !important;
		  margin: 1px !important;
		 text-align: center;
	
	}
	
	.domain-section-para{
		padding: 1.5px !important;
		margin: 1.5px !important;
		text-align: center;
		color: #fff !important;
		
	
	}
	
	.form-domain{
	
		margin-top: 3%;
	}


	
	.footer-top{

		display: flex;
		flex-direction: column;

	
	}


	
	
}